@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply h-full bg-[#0e1414]
}

body {
  @apply h-full bg-[#0e1414]
}

.modal-wrapper {
  width: 500px;
  height: 600px;
}

.modal {
  height:100%;
  width:100%;
  padding: 15px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
  padding-top: 10px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}
